* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/
.titulo h2 {
  font-size: 32px;
  margin-bottom: 10px;
  position: relative;
} 

.titulo{
  margin-bottom: 10px;
}

.espaciar{
  margin-bottom: 5px;
}

.volver_boton, 
.inicio_boton{
    height: 40px;
    cursor: pointer;
}

.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  background: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.dinero {
  width: 40px; 
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.jugadores {
  height: 40px; 
}

.dinero, .jugadores{
  padding: 10px 65px;
  position: relative;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: rgb(237, 235, 235);
  font-size: 16px;
  color: black;
  flex-wrap: nowrap;
}

.boton-jugar {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  margin-top: 30px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
}

.bi {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer;
}

.bi-plus-square-fill {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 10px;
  order: 1;
}

.bi-dash-square-fill {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 10px;
  order: 3;
}

.input-campo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ajustar-dinero{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.etiqueta{
  margin-right: 10px;
}

.seleccionar{
  width: 130px;
  height: 40px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: rgb(237, 235, 235);
  font-size: 16px;
  color: black;
  flex-wrap: nowrap;
}