<header id="header" class="fixed-top">
  <div style="text-align: center;">
    <h2><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h2>
  </div>
</header>
<header id="header" class="fixed-top">
  <div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/nosotros">Sobre nosotros</a></li>
        <li><a class="active">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
<br><br><br>
<main id="main">
  <div class="section-text">
    <h2>CONTACTO</h2>
    <p>Cualquier cosa que necesite no dude en enviar un correo a:</p>
    <b>susanlgrahamgames@gmail.com</b>
    <p>y recibirá una respuesta lo antes posible.</p>
  </div>

</main>
<br><br><br><br>