/* --------------CABECERA-------------- */
#header {
    background: #BFDBAE;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 15px 0;
}
#floating-image {
    width: 400px;
    height: 300px;
    size: 10%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
    float: left;
  }
#main{
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
  
  
  
}
.section-text{
    text-align: center;
    margin-top: 0%;
}

.texto-menor{
    text-size-adjust: 9;
}

.card-nosotros {
    border: 1px solid #18ca0c;
    height: 60px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

    
/* --------------BOTÓN VOLVER PARTE SUPERIOR PANTALLA-------------- */
.btn-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff7b00;
    color: #fff;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
  
.btn-flotante i {
    line-height: 50px;
    text-align: center;
}
  
.seccion {
    display: flex;
    flex-direction: row;
}