<header id="header" class="fixed-top">
  <div style="text-align: center;">
    <h2><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h2>
  </div>
</header>
<header id="header" class="fixed-top">
  <div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a class="active">Sobre nosotros</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
<img src="../../assets/images/us.jpg" class="floating-image" id="floating-image">
<main id="main">

  <div class="section-text">
    <h2>¡Conócenos!</h2>
    <b><p>Conoce al equipo técnico que forma la empresa Susan L. Graham, que está formado por 7 personas:</p></b>
  </div>

  <div class="card-container" role="main">
    <a class="card-nosotros">
      <span>
        <b><p>Luna Álvarez</p></b>
        <p>Digital developer</p>
      </span>
    </a>
    <a class="card-nosotros">
      <span>
        <b><p>Lucía Beltrán</p></b>
        <p>Digital developer</p>
      </span>
    </a>

    <a class="card-nosotros">
      <span>
        <b><p>Pilar Fierro</p></b>
        <p>Digital developer</p>
      </span>
    </a>

    <a class="card-nosotros">
      <span>
        <b><p>Martina Gracia</p></b>
        <p>Digital developer</p>
      </span>
    </a>
    </div>
    <div class="card-container" role="main">
    <a class="card-nosotros">
      <span>
        <b><p>Daniel Carrizo</p></b>
        <p>Digital developer</p>
      </span>
    </a>

    <a class="card-nosotros">
      <span>
        <b><p>Antoine Gajan</p></b>
        <p>Digital developer</p>
      </span>
    </a>

    <a class="card-nosotros">
      <span>
        <b><p>Harry Broudehoux</p></b>
        <p>Digital developer</p>
      </span>
    </a>
  </div>

</main>
<!-- BOTÓN VOLVER A LA PARTE SUPERIOR DE LA PÁGINA -->
<button class="btn-flotante" (click)="volverArriba()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
</button>

<br>
