<header id="header" class="fixed-top">
  <div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/reglas">Reglas del juego</a></li>
        <li><a class="active">Sobre nosotros</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>

<main id="main">
  <div class="section-text">
    <h2>¡Conócenos!</h2>
    <p>El equipo técnico que forma la empresa Susan L. Graham está formada por 7 personas.</p>
  </div>

  <div class="card-container" role="main">
    <a class="card-nosotros">
      <span>
        <b><p>Luna Álvarez - CEO</p></b>
        <p>añadir descripción</p>
      </span>
    </a>
  </div>
  <div class="card-container" role="main">
    <a class="card-nosotros">
      <span>
        <b><p>Lucía Beltrán - puesto 2</p></b>
        <p>añadir descripción</p>
      </span>
    </a>
  
    <a class="card-nosotros">
      <span>
        <b><p>Pilar Fierro - puesto 3</p></b>
        <p>añadir descripción</p>
      </span>
    </a>
  
    <a class="card-nosotros">
      <span>
        <b><p>Martina Gracia - puesto 4</p></b>
        <p>añadir descripción</p>
      </span>
    </a>
    </div>
    <div class="card-container" role="main">
    <a class="card-nosotros">
      <span>
        <b><p>Daniel Carrizo - puesto 5</p></b>
        <p>añadir descripción</p>
      </span>
    </a>
 
    <a class="card-nosotros">
      <span>
        <b><p>Antoine Gajan - puesto 6</p></b>
        <p>añadir descripción</p>
      </span>
    </a>
  
    <a class="card-nosotros">
      <span>
        <b><p>Harry Broudehoux - puesto 7</p></b>
        <p>añadir descripción</p>
      </span>
    </a>
  </div>

</main>