<header id="header" class="fixed-top">
  <div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/reglas">Reglas del juego</a></li>
        <li><a class="active">Sobre nosotros</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>

<main id="main">
  <div class="section-text">
    <h2>¡Conócenos!</h2>
    <b><p>Conoce al equipo técnico que forma la empresa Susan L. Graham, que está formado por 7 personas:</p></b>
  </div>

  <div class="card-container" role="main">
    <a class="card-nosotros">
      <span>
        <b><p>Luna Álvarez</p></b>
        <p>Digital developer</p>
      </span>
    </a>
  </div>
  <div class="card-container" role="main">
    <a class="card-nosotros">
      <span>
        <b><p>Lucía Beltrán</p></b>
        <p>Digital developer</p>
      </span>
    </a>

    <a class="card-nosotros">
      <span>
        <b><p>Pilar Fierro</p></b>
        <p>Digital developer</p>
      </span>
    </a>

    <a class="card-nosotros">
      <span>
        <b><p>Martina Gracia</p></b>
        <p>Digital developer</p>
      </span>
    </a>
    </div>
    <div class="card-container" role="main">
    <a class="card-nosotros">
      <span>
        <b><p>Daniel Carrizo</p></b>
        <p>Digital developer</p>
      </span>
    </a>

    <a class="card-nosotros">
      <span>
        <b><p>Antoine Gajan</p></b>
        <p>Digital developer</p>
      </span>
    </a>

    <a class="card-nosotros">
      <span>
        <b><p>Harry Broudehoux</p></b>
        <p>Digital developer</p>
      </span>
    </a>
  </div>

</main>
