<div class="propriety-card">
  <img class="image-company" src="../../../assets/images/card/fiesta.png" alt="FIESTA IMAGEN" />
  <div *ngIf="party" class="fiesta-title">
    {{party.casillaInfo.nombre}}
  </div>
  <div *ngIf="!party" class="load-center">
    <app-loader></app-loader>
  </div>
  <div class="container-info" *ngIf="party">
      <div class="box-info">
        <div class="text-start rent-info">Alquiler</div>
        <div class="text-end price-info">{{party.casillaInfo.matricula}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Si tienes 2 fiestas</div>
        <div class="text-end price-info">{{party.casillaInfo.precio2M}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Si tienes 3 fiestas</div>
        <div class="text-end price-info">{{party.casillaInfo.precio3M}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Si tienes 4 fiestas</div>
        <div class="text-end price-info">{{party.casillaInfo.precio4M}}€</div>
      </div>
      <div class="box-info hipoteca">
        <div class="text-start rent-info hipoteca">Hipoteca : {{party.casillaInfo.devolucionMatricula}}€</div>
      </div>
  </div>
</div>
