<header id="header" class="fixed-top">
  <div style="display: flex; justify-content: space-between;">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" onclick="window.history.back();" />
    <h4><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
  <div style="text-align: center;">
    <h4><a style="color: #080808">Cambio nombre usuario</a></h4>
  </div>
</header>

<form [formGroup]="form" (ngSubmit)="guardar_new_username()">
  <h5> Su nombre de usuario actual es: {{old_username}}</h5>
  <h5> Introduzca el nuevo nombre del usuario </h5>
  <div class="formulario-nombre-usuario" >
    <input type="text" formControlName="new_username" id="new_username" name="new_username" placeholder="nombre de usuario" class="formulario-nombre-usuario-input" required/>
    <div *ngIf="form?.get('new_username')?.invalid && (form?.get('new_username')?.dirty || form?.get('new_username')?.touched)">
      <div *ngIf="form?.get('new_username')?.errors?.['required']" style="color: red;">Este campo es obligatorio</div>
    </div>
  </div>
  <br><br><br>
  <div class="opciones">
    <button class="boton_si" type="submit">Guardar</button>
    <button class="boton_no" onclick="window.history.back();">Cancelar</button>
  </div>
</form>
<br><br><br><br><br><br>
