<br><br><br><br><br><br><br><br><br>

<div class="main-block">
  <form>
    <table>
      <tr style="text-align: right;"><h1> Sign   In </h1></tr>
      <tr >
        <td ><label>Email*</label></td>
        <td ><input type="text" name="username" formControlName="username" placeholder="Email*" maxlength = "30" ng-model-options="{ updateOn: 'blur'}" required> </td>
      </tr>
      <br> 
      <tr>
        <td ><label>Password*</label></td>
        <td ><input type="password" name="password" formControlName="password" placeholder="Password*" ng-model-options="{ updateOn: 'blur'}"  required></td>
      </tr>
      <br> 
      <tr>
        <td ><label>Repeat password*</label></td>
        <td > <input type="password" name="verif-password" formControlName="verif-password" placeholder="Repeat password*" ng-model-options="{ updateOn: 'blur'}" required> </td>
      </tr>
        </table>
        <button type="submit" href="/">Submit</button>  
        <br>  
        <a routerLink="/login">I already have an account</a>
        
  
    </form>
    
  </div> 

