 <div class="col-md-8 mx-auto">
  <h1 class="text-center"> Sign In </h1>
  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="verif-password">Verify password</label>
      <input type="password" class="form-control" id="verif-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Create account</button>
  </form>
 </div>
