body{
	text-align: center;
}

form{
	z-index: 100;
}

table{
	margin: auto;
	border: solid;
	border-collapse: collapse;
	border-color: black;
	background-color: #A8ADAD;
}

td{
	padding: 15px;
}


input, select{
	width: 100%;
  padding: 12px 18px;
  margin: 5px;
	border: solid 2px;
  border-radius: 40px;
  border-color: black;
  box-sizing: border-box;
}

input:focus{
	outline: none;
	border-color: #025988;
}


input[type=submit]{
	background-color: skyblue;
	border-color: #044DF9;
	height: 50px;
	font-weight: bold;
	font-size: 18px;
}

input[type=submit]:hover{
	background-color: #5D73FC;
	border-color: #5D73FC;
	color: white;
	transition: 0.3s;
}

input[type=text]:not(:placeholder-shown):invalid, input[type=number]:not(:placeholder-shown):invalid{
	border-color: red;
}

.header{
	padding: 0;
	background-color: #CED4D4;
  text-align: center;
}

.submit{
	background-color: #CED4D4;
}

a{
	text-decoration: none;
}

li{
	text-align: left;
}
