<header id="header" class="fixed-top">
  <div style="display: flex; justify-content: space-between;">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" routerLink="/pantalla" />
    <h4><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
</header>
<section class="services">
      <div class="icon-box iconbox-blue">
        <div class="titulo" style="text-align: center;"><!--</div>"section-title">-->
          <h2>CREAR SALA</h2>
          <p>Configura las siguientes opciones para poder crear una partida nueva.</p>
        </div>
        <div class="espaciar">
          <form>
            <b><label for="numJugadores" class="etiqueta">Número de jugadores:</label></b>
            <select [(ngModel)]="numJugadores" class="jugadores" id="numJugadores" name="numJugadores" (change)="actualizarDatos()">
              <option value="2" [selected]="numJugadores == 2">2</option>
              <option value="3" [selected]="numJugadores == 3">3</option>
              <option value="4" [selected]="numJugadores == 4">4</option>
              <option value="5" [selected]="numJugadores == 5">5</option>
              <option value="6" [selected]="numJugadores == 6">6</option>
              <option value="7" [selected]="numJugadores == 7">7</option>
              <option value="8" [selected]="numJugadores == 8">8</option>
            </select>
          </form>
        </div>
        

        <div class="ajustar-dinero">
          <b><label class="etiqueta">Dinero inicial</label></b>
          <div class="dinero">
            <div class="input-campo">
              <i class="bi bi-plus-square-fill" (click)="incrementarDinero()"></i>
              <span class="texto">{{ dineroJugador }}€</span>
              <i class="bi bi-dash-square-fill" (click)="decrementarDinero()"></i>
            </div>
          </div>
        </div>

        <div>
          <b><label class="etiqueta">Personalización de normas</label></b>
          
          <div class="checkbox-wrapper-20">
            <div class="switch">
              <input id="1-20" class="input" type="checkbox" />
              <label for="1-20" class="slider"></label>
              <p style="display: inline-flex;">Cobrar alquiler desde la cárcel</p>
            </div>
          </div>

          <div class="checkbox-wrapper-20">
            <div class="switch">
              <input id="2-20" class="input" type="checkbox" />
              <label for="2-20" class="slider"></label>
              <p style="display: inline-flex;">Posibilidad de cobrar dinero al caer en la casilla de beca</p>
            </div>
          </div>

          <div class="checkbox-wrapper-20">
            <div class="switch">
              <input id="3-20" class="input" type="checkbox" />
              <label for="3-20" class="slider"></label>
              <p style="display: inline-flex;">Posibilidad de subastar una asigantura si no la puede comprar un jugador en su turno</p>
            </div>
          </div>

          <div class="checkbox-wrapper-20">
            <div class="switch">
              <input id="4-20" class="input" type="checkbox" />
              <label for="4-20" class="slider"></label>
              <p style="display: inline-flex;">Posibilidad de aumentar el precio de los créditos de una asignatura</p>
            </div>
          </div>

          <div class="checkbox-wrapper-20">
            <div class="switch">
              <input id="5-20" class="input" type="checkbox" />
              <label for="5-20" class="slider"></label>
              <p style="display: inline-flex;">Reiniciar el juego a un jugador si está en bancarrota</p>
            </div>
          </div>


        </div>
        


        <!--
  Checkbox Trickery with CSS:
  http://codersblock.com/blog/checkbox-trickery-with-css/ 
-->
<!--
<div class="container">
  <b><p class="etiqueta">Personalización de normas</p></b>
          
  <div class="items">
    <p class="undone" aria-hidden="true">unDone</p>
    <p class="done" aria-hidden="true">Done</p>

    <label for="item4">Posibilidad de aumentar el precio de los créditos de una asignatura</label>

    <input id="item5" type="checkbox" data-var="reiniciarJuegoBancarrota">
    <label for="item5">Reiniciar el juego a un jugador si está en bancarrota</label>

    
    
  </div>
</div>

-->


<div class="checkbox-wrapper-20">
  <div class="switch">
    <input id="one-20" class="input" type="checkbox" />
    <label for="one-20" class="slider"></label>
    <p>Cobrar alquiler desde la cárcel</p>
  </div>
</div>






<h3>ID PARTIDA: {{idPartida}}</h3>
<div class="lista_jugadores">
  <p>Jugadores conectados:</p>
  <div *ngFor="let player of list_players" class="player-name">
    {{player}}
  </div>
</div>

        <button (click)="empezarJugar()" class="boton-jugar" >Empezar a partida</button>
      </div>
</section>