<header id="header" class="fixed-top">
  <div style="display: flex; justify-content: space-between;">
    <img class="voler_boton" src="../../../assets/images/voler_boton.png" class="volver_boton" style="cursor: pointer;" onclick="window.history.back();" />
    <h4><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="home_boton" src="../../../assets/images/home_boton.png" routerLink="/" class="volver_boton">
  </div>
  <div style="text-align: center;">
    <h4><a style="color: #080808">Cambio contraseña usuario</a></h4>
  </div>
</header>

<br><br>

<form>
  <h5> Introduzca la contraseña nueva </h5>
  <br>
  <div class="formulario-nombre-usuario" >
    <input type="password" placeholder="contraseña" class="formulario-nombre-usuario-input" required/>
  </div>

  <br><br>
  <h5> Repita la contraseña</h5>
  <br>
  <div class="formulario-nombre-usuario" >
    <input type="password" placeholder="repita la contraseña" class="formulario-nombre-usuario-input" required/>
  </div>
  <br><br>
  <button class="boton" type="submit">Guardar</button>

</form>
<br>
