#header {
    background: #BFDBAE;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 15px 0;
}

.section-text{
    text-align: center;
}

.texto-menor{
    text-size-adjust: 9;
}

.card-reglas {
    border: 1px solid #18ca0c;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Inter", sans-serif;
    padding: 0;
}

.volver_boton{
    height: 40px;
}
 .navegador li {
    padding: 10px 0 0 28px;
  }   
  
  .navegador a,
  .navegador a:focus,
  .navegador img{
    display: flex;
    font-weight: 600;
    color: black;
  }
  
  .navegador_derecha li {
    padding: 10px 0 0 28px;
  }   
  .navegador_derecha a,
  .navegador_derecha a:focus,
  .navegador_derecha img{
    display: flex;
    font-weight: 600;
    color: black;
  }

  .card {
    border: 1px solid #18ca0c;
    height: 130px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}