#header {
    background: #BFDBAE;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 15px 0;
}

.section-text{
    text-align: center;
}

.texto-menor{
    text-size-adjust: 9;
}

.card-reglas {
    border: 1px solid #18ca0c;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}