<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="card-container" role="main">
    <a class="card" rel="noopener" routerLink="">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span><h4><b>Crear una sala</b></h4></span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" rel="noopener" routerLink="">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span><h4><b>Unirse a una sala</b></h4></span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" rel="noopener" routerLink="">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span><h4><b>Reglas</b></h4></span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" rel="noopener" routerLink="">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span><h4><b>Tienda</b></h4></span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>
