* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heather{
    background: #BFDBAE;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 15px 0;
}

.imagen_logo_juego{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.volver_boton{
    height: 40px;
}

/*------------------------------------
 * BODY
 *-----------------------------------*/
body{
    font-family: "Open Sans", sans-serif;
    color: #444444;
} 

a, a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/*------------------------------------
 * CARDS
 *-----------------------------------*/  
.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #f6ee02;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}
    
.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

/*------------------------------------
 * FOOTER
 *-----------------------------------*/  
#footer {
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .credits a {
    color: #34b7a7;
  }



/*------------------------------------
 * NAVIGATION MENU
 *-----------------------------------*/

 .navegador li {
    padding: 10px 0 0 28px;
  }   
  
  .navegador a,
  .navegador a:focus,
  .navegador img{
    display: flex;
    font-weight: 600;
    color: black;
  }
  

  
  
  .navegador_derecha li {
    padding: 10px 0 0 28px;
  }   
  .navegador_derecha a,
  .navegador_derecha a:focus,
  .navegador_derecha img{
    display: flex;
    font-weight: 600;
    color: black;
  }


  




