<header id="header" class="fixed-top">
  <div style="text-align: center;">
    <h2><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h2>
  </div>
</header>
<header id="header" class="fixed-top">
  <div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="active">Inicio</a></li>
        <li><a routerLink="/nosotros">Sobre nosotros</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="imagen_logo_empresa">
<img src="../../assets/images/logo_empresa.jpg">
</div>
<div class="card-container" role="main">
  <a class="card" rel="noopener" routerLink="/login">
    <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
    <span><h4><b>Iniciar Sesión</b></h4></span>
    <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
  <a class="card" rel="noopener" routerLink="/signup">
    <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
    <span><h4><b>Registrarse</b></h4></span>
    <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
  <a class="card" rel="noopener" routerLink="/pantalla_invitado">
    <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
    <span><h4><b>Jugar como invitado</b></h4></span>
    <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>
</div>
<!-- BOTÓN VOLVER A LA PARTE SUPERIOR DE LA PÁGINA -->
<button class="btn-flotante" (click)="volverArriba()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
</button>


<br><br><br>
