* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heather{
  background: #BFDBAE;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
}

.titulo{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2D3748;
}

.volver_boton,
.inicio_boton{
    height: 40px;
}

.list-products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.title-list-products{
  padding: 50px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.product{
  padding: 20px;
}
