<header id="header" class="fixed-top">
  <div style="display: flex; justify-content: space-between;">
    <img class="voler_boton" src="../../../assets/images/voler_boton.png" class="volver_boton" style="cursor: pointer;" routerLink="/pantalla" />
    <h4><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="home_boton" src="../../../assets/images/home_boton.png" routerLink="/" class="volver_boton">
  </div>
  <div style="text-align: center;">
    <h4><a style="color: #080808">Tienda</a></h4>
  </div>
</header>

<div class="info-player" *ngIf="infoPlayer">
  <div class="avatar"><img class="profile-picture" [src]="'data:image/png;base64,' + infoPlayer.imagen" /></div>
  <div class="username">{{infoPlayer.nombreUser}}</div>
  <div class="money">{{infoPlayer.monedas}} 💸</div>
</div>

<div *ngIf="!is_loading">
  <div class="title-list-products">Fichas y avatares: </div>
  <div class="list-products" *ngIf="!is_loading">
    <div class="product" *ngFor="let product of products">
      <app-product [product]="product" class="product"></app-product>
    </div>
  </div>
</div>

<div *ngIf="is_loading" class="loader">
  <app-loader></app-loader>
</div>


