<form>
  <h3 class="title-devolution">ASIGNATURAS A DEVOLVER</h3>
  <div *ngFor="let property of list_properties" class="list-properties">
    <label>
      <input class="property" type="checkbox" [value]="property" (change)="updateSelectedProperties(property)">
      {{ property[0] }}
    </label>
  </div>
  <div class="list-buttons">
    <button class="button-action" [disabled]="selected_properties.length === 0 && !is_in_jail" (click)="devolve()">Devolver {{selected_properties.length}} asignaturas</button>
  </div>
</form>
