<br><br><br><br><br>
<div class="formulario">
    <form class="formulario">
        <div class="filas">
            <label for="email" class="campo"> Email* </label>
            <input type="email" id="email" name="email" placeholder="example@domain.com" class="form-input" formControlName="username" maxlength = "30" ng-model-options="{ updateOn: 'blur'}" required/>
        </div>

        <div class="filas">
            <label for="password" class="campo"> Password* </label>
            <input type="password" id="password" name="password" placeholder="write your password" class="form-input"formControlName="password" ng-model-options="{ updateOn: 'blur'}" required/>
        </div>

        <div>
            <button class="formbold-btn w-full">Login</button>
            <a routerLink="/signup">I don't have account</a>
        </div>
    </form>
</div>


<!--
<div class="main-block">
  <form>
    <table>
      <tr style="text-align: right;"><h1> Login </h1></tr>
      <tr >
        <td ><label>Email*</label></td>
        <td ><input type="text" name="username" formControlName="username" placeholder="Email*" maxlength = "30" ng-model-options="{ updateOn: 'blur'}" required> </td>
      </tr>
      <tr>
        <td ><label>Password*</label></td>
        <td ><input type="password" name="password" formControlName="password" placeholder="Password*" ng-model-options="{ updateOn: 'blur'}" required></td>
      </tr>
        </table>
        <button type="submit" href="/">Submit</button>

    </form>
  </div>
-->
