<!--------------------CABECERA WEB-------------------->
<header id="header">
  <div class="texto_cabecera">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" onclick="window.history.back();" />
    <h4><a style="cursor: pointer;" style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
</header>
<br>
<!--------------------CREAR SALA-------------------->
<form [formGroup]="form_unirse_invitado" (ngSubmit)="unirseSalaInvitado()" class="services">

  <div class="icon-box iconbox-blue">
    <div class="titulo">
      <h2>ÚNETE A UNA SALA</h2>
      <p>Introduzca el número de la partida en la que desea ingresar.</p>
    </div>
    <div class="input-partida">
      <input type="text" class="id_partida" placeholder="Nombre de jugador" formControlName="username" id="username" name="username" required/>
      <div *ngIf="form_unirse_invitado?.get('username')?.invalid && (form_unirse_invitado?.get('username')?.dirty || form_unirse_invitado?.get('username')?.touched)"></div>
      <div *ngIf="form_unirse_invitado?.get('username')?.errors?.['required']" style="color: red;">Este campo es obligatorio</div>
    </div>
    <div class="input-partida">
      <input type="number" class="id_partida" placeholder="#ID PARTIDA" formControlName="idPartida" id="idPartida" name="idPartida" required/>
      <div *ngIf="form_unirse_invitado?.get('idPartida')?.invalid && (form_unirse_invitado?.get('idPartida')?.dirty || form_unirse_invitado?.get('id_partida')?.touched)"></div>
      <div *ngIf="form_unirse_invitado?.get('idPartida')?.errors?.['required']" style="color: red;">Este campo es obligatorio</div>
    </div>
    <button class="boton-jugar">Unirse a la sala</button>  
    
    <div *ngIf="loading && !finMensaje" class="load-center">
      <app-loader></app-loader>
    </div>
    <div *ngIf="mensajeNoPuedeConectarse && finMensaje" class="text-center">
      <div class="titulo">
        <h2>Ups, no puedes unirte a la partida.</h2>
        <p>La partida está completa</p>
      </div>
      <button class="boton_si" (click)="volverUnirseSala()">Unirte a otra partida</button>
    </div>

  </div>
  

</form>

<br><br><br><br><br><br>
