<div class="propriety-card">
  <img class="image-company" src="../../../assets/images/card/calefaccion.png" alt="AHORRO CALEFACCION IMAGEN" />
  <div class="calefaccion-title">
    AHORRO CALEFACCION
  </div>

  <div class="container-info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Penatibus et magnis dis parturient. Fermentum leo vel orci porta non. Enim diam vulputate ut pharetra sit. Viverra mauris in aliquam sem fringilla ut morbi tincidunt augue. Interdum velit euismod in pellentesque massa placerat duis ultricies lacus. Lectus mauris ultrices eros in cursus turpis massa tincidunt. Malesuada fames ac turpis egestas integer. Odio ut enim blandit volutpat. Est velit egestas dui id ornare arcu odio ut sem. Ultrices mi tempus imperdiet nulla.
  </div>
  <div class="value">
    Valor hipotético: 75 €
  </div>
</div>
