<div class="propriety-card">
  <img class="image-company" src="../../../assets/images/card/calefaccion.png" alt="AHORRO CALEFACCION IMAGEN" />
  <div class="calefaccion-title">
    AHORRO CALEFACCION
  </div>

  <div class="container-info">
Si posees una carta de compañías de servicio público, el alquiler es 10 veces el número salido en los dados <br> <br>
Si posees dos cartas de compañías de servicio público, el alquiler es 10 veces el número salido en los dados
    <div class="value">
    Valor de la Hipoteca: 100 €
  </div>
  </div>
</div>
