* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.texto_cabecera{
  display: flex;
  justify-content: space-between;
}

.volver_boton, 
.home_boton{
  height: 40px;
  cursor: pointer;
}

.formulario-login{
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filas{
  margin-bottom: 20px;
}

.campo{
  display: block;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 14px;
  margin-top: 10px;
}

.form-input{
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}

.formulario{
  padding: 32px 36px;
  background-color: white;
}

.boton{
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  background-color: #bcd8c1;
  display: block;
  cursor: pointer;
}

.link{
  margin-top: 6px;
  text-align: center;
}

.formulario-login input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  background: #ebf5fc;
}


.bi {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  right: 10px;
  cursor: pointer;
}

.bi-eye {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bi-eye-slash {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/><path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.input-campo{
  position: relative;
}

/* --------------BOTÓN VOLVER PARTE SUPERIOR PANTALLA-------------- */
.btn-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff7b00;
  color: #fff;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.btn-flotante i {
  line-height: 50px;
  text-align: center;
}
