<table class="table-striped table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre de usuario</th>
      <th scope="col">Número de partidas ganadas</th>
      <th scope="col">Ratio (%)</th>
    </tr>
  </thead>
  <tbody>
  <!--
    <tr *ngFor="let player in players">
      <th scope="row">player.</th>
      <td>PlayerZaragoza</td>
      <td>51</td>
      <td>85</td>
    </tr>
  -->
    <tr>
      <th scope="row">1</th>
      <td>Jacob</td>
      <td>34</td>
      <td>72</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Larry</td>
      <td>16</td>
      <td>71</td>
    </tr>
  </tbody>
</table>

