.title {
  text-align: center;
  font-size: 30px;
  color: #044DF9;
}

header {
  background-color: #A8ADAD;
  width: 100%;
  height: 10%;
  display: flex;
  vertical-align: center;
}

nav {
  justify-content: space-between;
}
