<div class="community-card">
  <h3 class="title-card">
    BOLETIN
  </h3>
  <div class="info-container">
    <img src='../../../assets/images/perso_left.jpg'>
    <div class="info" *ngIf="community">
      {{community.descripcion}}
    </div>
    <app-loader *ngIf="!community" class="load-center"></app-loader>
  </div>
  <div class="list-button" *ngIf="community">
    <button *ngIf="community.cobrarPagarNada === 'pagar'" class="button-action pagar" (click)="trigger_action()">Pagar {{community.dinero}}€</button>
    <button *ngIf="community.cobrarPagarNada === 'cobrar'" class="button-action cobrar" (click)="trigger_action()">Cobrar {{community.dinero}}€</button>
    <button *ngIf="community.cobrarPagarNada === 'nada'" class="button-action nada" (click)="trigger_action()">Vale</button>
  </div>
</div>
