<!--------------------CABECERA WEB-------------------->
<header id="header" class="fixed-top">
  <div style="display: flex; justify-content: space-between;">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" onclick="window.history.back()"/>
    <h4><a style="color: #080808" routerLink="/" >MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
</header>
<!--------------------CONTENIDO ESPERAR SALA JUEGO-------------------->
<section class="services">
  <div class="icon-box iconbox-blue">
    <!--------------------titulo id partida-------------------->
    <div class="titulo" style="text-align: center;">
      <h2>Partida #{{game_id}}</h2>
      <!--<p class="info-wait" *ngIf="username !== player_creator_of_game">Esperando a que el creador inicie la partida</p>-->
      <p class="info-wait">Esperando al resto de jugadores ...</p>
    </div>
    <!--------------------lista jugadores conectados-------------------->
    <div class="lista_jugadores" *ngIf="list_players.length > 0">
      <p>Jugadores conectados:</p>
      <div *ngFor="let player of list_players" class="player-name">
        {{player}}
      </div>
    </div>
    <!--------------------botón iniciar partida-------------------->
    <button id="start" *ngIf="username === player_creator_of_game && list_players.length > 1" class="boton-jugar" (click)="start_game()">Empezar la partida</button>
    <button id="join" *ngIf="username !== player_creator_of_game" class="boton-jugar" (click)="join_game()">Unirse a la partida</button>
    <button id="join" *ngIf="boton_empezar_partida === true" class="boton-jugar" (click)="join_game()">Unirse a la partida</button>

</div>
<br><br><br><br><br><br><br><br><br>
</section>
