<header id="header" class="fixed-top">
  <div class="cabecera">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" onclick="window.history.back();"/>
    <h4><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
</header>

<section class="services">
      <div class="icon-box iconbox-blue">
        <div class="titulo"><!--</div>"section-title">-->
          <h2>PARTIDA #XXXXX</h2>
          <p><b>Esperando al resto de los jugadores</b></p>
          <p>Pronto se iniciará la partida</p>
        </div>
        <form><label>Número de jugadores</label>
          <select name="jugadores" [(ngModel)]="numJugadores" class="jugadores" name="numJugadores">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </form>
        <br>
        
        <div>
          <label>Dinero inicial (€)</label>
          <input type="number" class="dinero" [(ngModel)]="dineroJugador" placeholder="1500€" />
        </div>
        
        <button (click)="crearPartidaDatos()" class="boton-jugar">Jugar</button>
    </div>
</section>