<div class="buy-card">
  <div class="buy-card">
  <div class="message">{{message}}
  </div>
  <div class="card-information">
    <ng-container *ngIf="get_type_casilla() === 'propriety'">
      <app-propriety-card [h]= "h" [v]="v"></app-propriety-card>
    </ng-container>

    <ng-container *ngIf="get_type_casilla() === 'heat'">
      <app-heat-card></app-heat-card>
    </ng-container>

    <ng-container *ngIf="get_type_casilla() === 'electricity'">
      <app-electricity-card></app-electricity-card>
    </ng-container>

    <ng-container *ngIf="get_type_casilla() === 'party'">
      <app-party-card [h]= "h" [v]="v"></app-party-card>
    </ng-container>
  </div>
  <div class="list-button">
    <button class="button-action buy" (click)="buy_card()">Comprar</button>
    <button *ngIf="play_again" class="button-action play-again" (click)="callback_end_turn()">Jugar otra vez</button>
    <button *ngIf="!play_again" class="button-action stop" (click)="callback_end_turn()">Cancelar</button>
  </div>
</div>
