<div class="propriety-card">
  <div class="propriety-name" *ngIf="propriety" [style.background-color]="get_color()">
    <h3 class="card-title">{{propriety.casillaInfo.nombre}}</h3>
  </div>
  <div *ngIf="!propriety" class="load-center">
    <app-loader></app-loader>
  </div>
  <div class="container-info" *ngIf="propriety">
      <div class="coste">
        Coste : {{propriety.casillaInfo.precioCompra}}€
      </div>
      <div class="box-info">
        <div class="text-start rent-info">Alquileres : {{propriety.casillaInfo.matricula}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">1 crédito.......................</div>
        <div class="text-end price-info">{{propriety.casillaInfo.precio1C}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">2 créditos.....................</div>
        <div class="text-end price-info">{{propriety.casillaInfo.precio2C}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">3 créditos.....................</div>
        <div class="text-end price-info">{{propriety.casillaInfo.precio3C}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">4 créditos.....................</div>
        <div class="text-end price-info">{{propriety.casillaInfo.precio4C}}€</div>
      </div>

      <hr/>
      <div class="box-info">
        <div class="text-start rent-info">Hipoteca : {{propriety.casillaInfo.devolucionMatricula}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Precio crédito............</div>
        <div class="text-end price-info">{{propriety.casillaInfo.precioCompraCreditos}}€</div>
      </div>
  </div>
</div>
