<div class="propriety-card">
  <div class="propriety-name" [style.background-color]="get_color()">
    <h3 class="card-title">{{nombre}}</h3>
  </div>

  <div class="container-info">
      <div class="coste">
        Coste : {{precioCompra}}€
      </div>
      <div class="box-info">
        <div class="text-start rent-info">Alquileres : {{matricula}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">1 crédito.......................</div>
        <div class="text-end price-info">{{precio1C}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">2 créditos.....................</div>
        <div class="text-end price-info">{{precio2C}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">3 créditos.....................</div>
        <div class="text-end price-info">{{precio3C}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">4 créditos.....................</div>
        <div class="text-end price-info">{{precio4C}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Hotel...............................</div>
        <div class="text-end price-info">{{precio4C}}€</div>
      </div>
      <hr/>
      <div class="box-info">
        <div class="text-start rent-info">Hipoteca : {{devolucionMatricula}}€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Precio crédito............</div>
        <div class="text-end price-info">{{matricula}}€</div>
      </div>
  </div>
</div>
