form{
  max-width: 25rem;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  color: black;
  border-radius: 20px;
  background-color: white;
}

.title-devolution{
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.list-properties{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}

.property{
  margin: 5px;
}

.list-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 5px;
}

.button-action{
  max-width: 15rem;
  color: black;
  background-color: #34b7a7;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  border: 0;
  cursor: pointer;
}

input[type="checkbox"]::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

button:disabled{
  background-color: #808080;
  cursor: not-allowed;
}
