<header id="header" class="fixed-top">
  <div class="texto_cabecera">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" onclick="window.history.back();" />
    <h4><a style="cursor: pointer;" style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="home_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
</header>

<main id="main">
  <div class="section-text">
    <h2>Reglas del juego</h2>
    <h3><p>¡Conviértete en ser el jugador más rico y dejar al resto de jugadores en bancarrota!</p></h3>
  </div>
  <div class="card-container" role="main">
    <a class="card-reglas">
      <span>
        <p>Jugadores: de 2 a 8</p>
      </span>
    </a>
    <a class="card-reglas">
      <span>
        <p>Duración: 60-120 minutos</p>
      </span>
    </a>
    <a class="card-reglas">
      <span>
        <p>Edad: +8 años</p>
      </span>
    </a>
  </div>
  <div class="card-container" role="main">
    <FONT SIZE="2">
      <div class="texto-reglas">
        <p>- Al pasar por la casilla de salida el jugador recibe un salario de 267€
        <p>- Al caer en una casilla que permite compra y que no tiene propietario, un jugador la puede comprar.</p>  
        <p>- Al caer en una casilla que tiene propietario, un jugador debe pagarle el dinero establecido en la carta de la casilla.</p>
        <p>- Cuando un jugador posee todas las casillas de un grupo de color cobra el doble en cada una de ellas y puede aumentar los créditos de dichas casillas.</p>
        <p>- Al caer en una casilla de suerte o de boletiín diario, el jugador recibe una acción a realizar.</p>
        <p>- Si un jugador saca tres veces dobles, cae en la casilla de Ve a Julio o recibe una acción de ir a julio, se desplazará a la casilla de Julio sin cobrar si pasa por la salida.</p>
        <p>- Un jugador desde la carcel puede modificar sus propiedades.</p>
        <p>- Para salir de la carcel, se puede pagar 67€, sacar dobles, usar una carta de Salir de Julio o esperar 3 turnos.</p>
        <p>- Los jugadores pueden realizar transacciones económicas entre ellos y con la Banca.</p>
        <p>- Un jugador puede poner una asignatura optativa si no está mejorada. Cuando otros jugadores caen en dicha casilla no pagaría.</p>
        <p>- Para candelar la optatividad hay que pagar el precio original más un 10% de interés.</p>
        <p>- Cuando un jugadores debe más dinero de lo que tiene se declara en bancarrota.</p>
        <p>- El juego finaliza cuando solo queda un jugador en pie.</p>
      </div>
      </FONT>
  </div>
</main>