<div class="propriety-card">
  <div class="propriety-name">
    <h3 class="card-title">Proyecto software</h3>
  </div>

  <div class="container-info">
      <div class="box-info">
        <div class="text-start rent-info">Rent</div>
        <div class="text-end price-info">10€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info">Rent with color set</div>
        <div class="text-end price-info">20€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info">Rent with 1 house</div>
        <div class="text-end price-info">30€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info">Rent with 2 houses</div>
        <div class="text-end price-info">40€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info">Rent with 3 houses</div>
        <div class="text-end price-info">50€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info">Rent with 4 houses</div>
        <div class="text-end price-info">60€</div>
      </div>
      <hr/>
      <div class="box-info">
        <div class="text-start rent-info">Houses cost</div>
        <div class="text-end price-info">100€ each</div>
      </div>
    <div class="box-info">
        <div class="text-start rent-info">Hotels cost</div>
        <div class="text-end price-info">100€ each</div>
    </div>
  </div>
</div>
