.propriety-card{
  border: 3px solid;
  border-color: #080808;
  width: 18rem;
  padding: 10px 10px;
}

.container-info{
  box-sizing: border-box;
  padding-top: 10px;
}

.propriety-name{
  font-weight: bold;
  background-color: cyan;
  text-align: center;
  border: 2px solid;
  border-color: #080808;
}

.rent-info{
  padding: 5px 5px;
  width: 65%;
}

.price-info{
  padding: 5px 5px;
  width: 35%;
}

.box-info{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
