<div class="formulario">
    <form class="formulario" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="filas">
            <label for="email" class="campo"> E-mail* </label>
            <input [(ngModel)]="username" type="email" id="email" name="email" placeholder="ejemplo@dominio.com" class="form-input" formControlName="username" maxlength = "30" required/>
        </div>

        <div class="filas">
            <label for="password" class="campo"> Contraseña* </label>
            <input [(ngModel)]="password" type="password" id="password" name="password" placeholder="contraseña" class="form-input"formControlName="password" required/>
        </div>
    </form>
    <div style="text-align: center;">
        <button routerLink="/pantalla" class="formbold-btn w-full" style="margin-bottom: 3%;">Iniciar Sesión</button>
        <a routerLink="/signup">No tengo cuenta</a>
    </div>
</div>
