<!--------------------CABECERA WEB-------------------->
<header id="header" class="fixed-top">
  <div class="texto_cabecera">
      <img class="volver_boton" src="../../../assets/images/voler_boton.png"  onclick="window.history.back();" />
      <h4><a style="cursor: pointer;" style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="home_boton" src="../../../assets/images/home_boton.png" routerLink="/">
</div>
</header>
<!--------------------FORMULARIO-------------------->
<form  [formGroup]="form" (ngSubmit)="login()" class="formulario-login">
  <h1>Iniciar sesión</h1><br><br>
  <!--------------------campo nombre usuario-------------------->
  <div class="filas">
    <label for="password" class="campo"> Nombre de usuario* </label>
    <input type="text" formControlName="username" id="username" name="username" placeholder="nombre de usuario" class="form-input" required/>    
    <div *ngIf="form?.get('username')?.invalid && (form?.get('username')?.dirty || form?.get('username')?.touched)">
      <div *ngIf="form?.get('username')?.errors?.['required']" style="color: red;">Este campo es obligatorio</div>
    </div>
  </div>
  <!--------------------campo comtraseña usuario-------------------->
  <div class="filas">
    <label for="password" class="campo"> Contraseña* </label>
    <div class="input-campo">
      <input type="{{ passwordShow ? 'text' : 'password' }}" id="password" formControlName="password" name="password" placeholder="escribe la contraseña" class="form-input" required/>
      <i class="bi bi-eye" (click)="passwordMostrarOcultar()" [ngClass]="{'bi-eye-slash': passwordShow, 'bi-eye': !passwordShow}"></i>
    </div> 
    <div *ngIf="form?.get('password')?.invalid && (form?.get('password')?.dirty || form?.get('password')?.touched)">
      <div *ngIf="form?.get('password')?.errors?.['required']" style="color: red;">Este campo es obligatorio</div>
      <div *ngIf="form?.get('password')?.errors?.['minlength']" style="color: red;">La contraseña debe tener al menos 8 caracteres</div>
      
    </div>
  </div>
  <!--------------------botón confirmación crear cuenta-------------------->
  <button class="boton" type="submit">Iniciar sesión</button>
  <!--------------------link si ya tiene cuenta-------------------->
  <br>
  <div class="link">
    <a routerLink="/signup"><p>No tengo cuenta</p></a>
  </div>  
</form>
<!-- BOTÓN VOLVER A LA PARTE SUPERIOR DE LA PÁGINA -->
<button class="btn-flotante" (click)="volverArriba()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
</button>

