<div class="card-container" role="main">
    <a class="card" rel="noopener" routerLink="/login">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span><h4><b>LogIn</b></h4></span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" rel="noopener" routerLink="/signup">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span><h4><b>SignIn</b></h4></span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" rel="noopener" href="">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span><h4><b>Guest</b></h4></span>
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>
