/* --------------CABECERA-------------- */
#header {
    background: #BFDBAE;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 15px 0;
}

/* --------------IMAGEN LOGO EMPRESA-------------- */
.imagen_logo_empresa{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* --------------CARDS-------------- */
.card-container {
    display: flex;
    fill: #888;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #aab2c7;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}
    
.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
