<div class="table">
	<div class="board">
		<div class="center">
			<div class="community-chest-deck">
				<h2 class="label">Community Chest</h2>
				<div class="deck"></div>
			</div>
			<h1 class="title">MONOPOLY</h1>
			<div class="chance-deck">
				<h2 class="label">Chance</h2>
				<div class="deck"></div>
			</div>
		</div>

		<div class="space corner go">
			<div class="container">
				<div class="go-word">SALIDA</div>
			</div>
			<div class="arrow fa fa-long-arrow-left"></div>
		</div>

		<div class="row horizontal-row bottom-row">
			<div class="space property">
				<div class="container">
					<div class="color-bar light-blue"></div>
					<div class="name">AOC1</div>
					<div class="price">160€</div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar light-blue"></div>
					<div class="name">FIS</div>
					<div class="price">133€</div>
				</div>
			</div>
			<div class="space chance">
				<div class="container">
					<div class="name">?</div>
					<i class="drawing fa fa-question"></i>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar light-blue"></div>
					<div class="name">PROG</div>
					<div class="price">133€</div>
				</div>
			</div>
			<div class="space railroad">
				<div class="container">
					<div class="name">SAN BRAULIO</div>
					<i class="drawing fa fa-subway"></i>
				</div>
			</div>
			<div class="space fee income-tax">
				<div class="container">
					<div class="name">ABRIR <br>EXPE<br>DIENTE</div>
					<div class="diamond"></div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar dark-purple"></div>
					<div class="name">IC</div>
					<div class="price">80€</div>
				</div>
			</div>
			<div class="space community-chest">
				<div class="container">
					<img src="images/community_chest.jpg" alt="pas ok">
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar dark-purple"></div>
					<div class="name three-line-name">PROG1</div>
					<div class="price">80€</div>
				</div>
			</div>
		</div>

		<div class="space corner jail">
			<div class="just">DE</div>
			<div class="drawing">
				<div class="container">
					<div class="name">In</div>
					<div class="window">
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
						<i class="person fa fa-frown-o"></i>
					</div>
					<div class="name">JULIO</div>
				</div>
			</div>
			<div class="visiting">PASO</div>
		</div>

		<div class="row vertical-row left-row">
			<div class="space property">
				<div class="container">
					<div class="color-bar orange"></div>
					<div class="name">AOC2</div>
					<div class="price">267€</div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar orange"></div>
					<div class="name">IPO</div>
					<div class="price">240€</div>
				</div>
			</div>
			<div class="space community-chest">
				<div class="container">
					<div class="name">Community Chest</div>
					<i class="drawing fa fa-cube"></i>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar orange"></div>
					<div class="name">TPROG</div>
					<div class="price">240€</div>
				</div>
			</div>
			<div class="space railroad">
				<div class="container">
					<div class="name long-name">PASO ECUADOR</div>
					<i class="drawing fa fa-subway"></i>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar purple"></div>
					<div class="name">REDES</div>
					<div class="price">213€</div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar purple"></div>
					<div class="name">EDA</div>
					<div class="price">187€</div>
				</div>
			</div>
			<div class="space utility electric-company">
				<div class="container">
					<div class="name">ELE</div>
					<i class="drawing fa fa-lightbulb-o"></i>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar purple"></div>
					<div class="name">SO</div>
					<div class="price">187</div>
				</div>
			</div>
		</div>

		<div class="space corner free-parking">
			<div class="container">
				<div class="name">BECA</div>
				<i class="drawing fa fa-car"></i>
			</div>
		</div>

		<div class="row horizontal-row top-row">
			<div class="space property">
				<div class="container">
					<div class="color-bar red"></div>
					<div class="name">IA</div>
					<div class="price">293€</div>
				</div>
			</div>
			<div class="space chance">
				<div class="container">
					<div class="name">?</div>
					<i class="drawing fa fa-question blue"></i>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar red"></div>
					<div class="name">SSDD</div>
					<div class="price">293€</div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar red"></div>
					<div class="name">PH</div>
					<div class="price">320€</div>
				</div>
			</div>
			<div class="space railroad">
				<div class="container">
					<div class="name">SAN PEPE</div>
					<i class="drawing fa fa-subway"></i>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar yellow"></div>
					<div class="name">SIS INF2</div>
					<div class="price">347€</div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar yellow"></div>
					<div class="name">PROC LEN</div>
					<div class="price">347€</div>
				</div>
			</div>
			<div class="space utility waterworks">
				<div class="container">
					<div class="name">R/C</div>
					<i class="drawing fa fa-tint"></i>
					<div class="price">CALEF</div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar yellow"></div>
					<div class="name">PS</div>
					<div class="price">373€</div>
				</div>
			</div>
		</div>

		<div class="space corner go-to-jail">
			<div class="container">
				<div class="name">A JULIO</div>
				<i class="drawing fa fa-gavel"></i>
			</div>
		</div>

		<div class="row vertical-row right-row">
			<div class="space property">
				<div class="container">
					<div class="color-bar green"></div>
					<div class="name">ROB</div>
					<div class="price">400€</div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar green"></div>
					<div class="name three-line-name">STW</div>
					<div class="price">400€</div>
				</div>
			</div>
			<div class="space community-chest">
				<div class="container">
					<div class="name">Community Chest</div>
					<i class="drawing fa fa-cube"></i>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar green"></div>
					<div class="name long-name">SEGUR</div>
					<div class="price">427€</div>
				</div>
			</div>
			<div class="space railroad">
				<div class="container">
					<div class="name">FIN CARRERA</div>
					<i class="drawing fa fa-subway"></i>
				</div>
			</div>
			<div class="space chance">
				<div class="container">
					<div class="name">?</div>
					<i class="drawing fa fa-question"></i>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar dark-blue"></div>
					<div class="name">PRACTS</div>
					<div class="price">467€</div>
				</div>
			</div>
			<div class="space fee luxury-tax">
				<div class="container">
					<div class="name">SEGURO ESCOLAR</div>
					<div class="drawing fa fa-diamond"></div>
				</div>
			</div>
			<div class="space property">
				<div class="container">
					<div class="color-bar dark-blue"></div>
					<div class="name">TFG</div>
					<div class="price">533€</div>
				</div>
			</div>
		</div>
	</div>
</div>
