<header id="header" class="fixed-top">
	<div style="display: flex; justify-content: space-between;">
	  <img class="voler_boton" src="../../../assets/images/voler_boton.png" class="volver_boton" style="cursor: pointer;" onclick="window.history.back();" />
	  <h4><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
	  <img class="home_boton" src="../../../assets/images/home_boton.png" routerLink="/" class="volver_boton">
	</div>
</header>

<div class="main-info">{{message}}</div>
<div class="timer {{ remaining_time < 10 ? 'blinking' : '' }}" *ngIf="is_timer_active">Tiempo restante para jugar : {{remaining_time}} segundos</div>

<div class="main-container">
  <div class="table">
    <div class="board">
      <!-- *************** CENTRO TABLERO *************** -->
      <div class="center">
        <h1 class="title">MONOPOLY</h1>
        <!-- *************** DADOS *************** -->
        <div class="dice-container">
          <div class="dices-values" *ngIf="dices.length > 1">
            <img class="dice" [src]="diceImages[dices[0] - 1]">
            <img class="dice" [src]="diceImages[dices[1] - 1]">
          </div>
          <button class="btn-roll-dice" id="tirar-dados" (click)="play_turn_player()">Tirar dados</button>
            <button class="btn-end-turn" id="button-end-turn" (click)="go_next_turn()">Terminar turno</button>
        </div>
        <div class="leave">
          <button class="btn-stop-play" id="button-stop-play" (click)="leave_game()">Declararme en bancarrota</button>
        </div>
      </div>
      <!-- *************** CASILLA SALIDA *************** -->
      <div class="space corner go" id="0">
        <div class="container">
          <div class="list-players"></div>
          <div class="go-word">SALIDA</div>
              <div class="triangle">
                  <div class="arrow-left"></div>
              </div>
        </div>
        <div class="arrow fa fa-long-arrow-left"></div>
      </div>
      <!-- *************** FILA ABAJO *************** -->
      <div class="row horizontal-row bottom-row">
        <div class="space property" id="9">
          <div class="container">
            <div class="color-bar dark-purple"></div>
            <div class="list-players"></div>
            <div class="name">AOC1</div>
            <div class="price">160€</div>
          </div>
        </div>
        <div class="space property" id="8">
          <div class="container">
            <div class="color-bar dark-purple"></div>
            <div class="list-players"></div>
            <div class="name">FÍSICA</div>
            <div class="price">133€</div>
          </div>
        </div>
        <div class="space chance" id="7">
          <div class="container">
            <div class="list-players"></div>
            <img src="../../../assets/images/Chance.jpg" alt="pas ok">
          </div>
        </div>
        <div class="space property" id="6">
          <div class="container">
            <div class="color-bar dark-purple"></div>
            <div class="list-players"></div>
            <div class="name">PROG2</div>
            <div class="price">133€</div>
          </div>
        </div>
        <div class="space railroad" id="5">
          <div class="container">
            <div class="name">SAN BRAULIO</div>
            <div class="list-players"></div>
            <div class="logo_san_braulio">
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="space fee income-tax" id="4">
          <div class="container">
            <div class="list-players"></div>
            <div class="name">ABRIR <br>EXPE-<br>DIENTE</div>
          </div>
        </div>
        <div class="space property" id="3">
          <div class="container">
            <div class="color-bar purple"></div>
            <div class="list-players"></div>
            <div class="name">IC</div>
            <div class="price">80€</div>
          </div>
        </div>
        <div class="space community-chest" id="2">
          <div class="container">
            <div class="list-players"></div>
            <img src="../../../assets/images/community_chest.jpg" alt="pas ok">
          </div>
        </div>
        <div class="space property" id="1">
          <div class="container">
            <div class="color-bar purple"></div>
            <div class="list-players"></div>
            <div class="name three-line-name">PROG1</div>
            <div class="price">80€</div>
          </div>
        </div>
      </div>
      <!-- *************** ESQUINA CÁRCEL *************** -->
      <div class="space corner jail" id="10">
        <div class="just">
          <b>DE</b>
        </div>
        <div class="drawing">
          <div class="container">
            <div class="list-players"></div>
            <div class="name"></div>
            <div class="window">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <i class="person fa fa-frown-o"></i>
            </div>
            <div class="name">JULIO</div>
          </div>
        </div>
        <div class="visiting">
          <b>PASO</b>
        </div>
      </div>
      <!-- *************** FILA IZQUIERDA VERTICAL *************** -->
      <div class="row vertical-row left-row">
        <div class="space propiedad_fila_izquierda" id="19">
          <div class="container">
            <div class="color-bar light-blue"></div>
            <div class="list-players"></div>
            <div class="name_izquierda">AOC2</div>
            <div class="precio_izquierda">267€</div>
          </div>
        </div>
        <div class="space propiedad_fila_izquierda" id="18">
          <div class="container">
            <div class="color-bar light-blue"></div>
            <div class="list-players"></div>
            <div class="name_izquierda">IPO</div>
            <div class="precio_izquierda">240€</div>
          </div>
        </div>
        <div class="space community-chest" id="17">
          <div class="container">
            <div class="list-players"></div>
            <img src="../../../assets/images/community_chest.jpg" alt="pas ok">
          </div>
        </div>
        <div class="space propiedad_fila_izquierda" id="16">
          <div class="container">
            <div class="color-bar light-blue"></div>
            <div class="list-players"></div>
            <div class="name_izquierda">TPROG</div>
            <div class="precio_izquierda">240€</div>
          </div>
        </div>
        <div class="space railroad" id="15">
          <div class="container">
            <div class="list-players"></div>
            <div class="name long-name">PASO ECUADOR</div>
            <div class="logo_san_braulio">
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="space propiedad_fila_izquierda" id="14">
          <div class="container">
            <div class="color-bar dark-blue"></div>
            <div class="list-players"></div>
            <div class="name_izquierda">REDES</div>
            <div class="precio_izquierda">213€</div>
          </div>
        </div>
        <div class="space propiedad_fila_izquierda" id="13">
          <div class="container">
            <div class="color-bar dark-blue"></div>
            <div class="list-players"></div>
            <div class="name_izquierda">EDA</div>
            <div class="precio_izquierda">187€</div>
          </div>
        </div>
        <div class="space railroad" id="12">
          <div class="container">
            <div class="list-players"></div>
            <div class="name long-name">ELE</div>
          </div>
        </div>
        <div class="space propiedad_fila_izquierda" id="11">
          <div class="container">
            <div class="color-bar dark-blue"></div>
            <div class="list-players"></div>
            <div class="name_izquierda">S.O</div>
            <div class="precio_izquierda">187€</div>
          </div>
        </div>
      </div>

      <div class="space corner free-parking" id="20">
        <div class="container">
          <div class="name">BECA</div>
          <div class="list-players"></div>
          <i class="drawing fa fa-car"></i>
        </div>
      </div>
      <!-- *************** FILA DE ARRIBA *************** -->
      <div class="row horizontal-row top-row">
        <div class="space property_fila_arriba" id="21">
          <div class="container">
            <div class="color-bar green"></div>
            <div class="list-players"></div>
            <div class="name_arriba">IA</div>
            <div class="precio_arriba">293€</div>
          </div>
        </div>
        <div class="space chance" id="22">
          <div class="container">
            <div class="list-players"></div>
            <img src="../../../assets/images/Chance.jpg" alt="pas ok">
          </div>
        </div>
        <div class="space property_fila_arriba" id="23">
          <div class="container">
            <div class="color-bar green"></div>
            <div class="list-players"></div>
            <div class="name_arriba">SSDD</div>
            <div class="precio_arriba">293€</div>
          </div>
        </div>
        <div class="space property_fila_arriba" id="24">
          <div class="container">
            <div class="color-bar green"></div>
            <div class="list-players"></div>
            <div class="name_arriba">PH</div>
            <div class="precio_arriba">320€</div>
          </div>
        </div>
        <div class="space railroad" id="25">
          <div class="container">
            <div class="name">SAN PEPE</div>
            <div class="list-players"></div>
            <div class="logo_san_braulio">
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="space property_fila_arriba" id="26">
          <div class="container">
            <div class="color-bar yellow"></div>
            <div class="name_arriba">SIS INF2</div>
            <div class="list-players"></div>
            <div class="precio_arriba">347€</div>
          </div>
        </div>
        <div class="space property_fila_arriba" id="27">
          <div class="container">
            <div class="color-bar yellow"></div>
            <div class="list-players"></div>
            <div class="name_arriba">PROC LEN</div>
            <div class="precio_arriba">347€</div>
          </div>
        </div>
        <div class="space utility waterworks" id="28">
          <div class="container">
            <div class="name">R/C</div>
            <div class="list-players"></div>
            <i class="drawing fa fa-tint"></i>
            <div class="precio_arriba">CALEF</div>
          </div>
        </div>
        <div class="space property_fila_arriba" id="29">
          <div class="container">
            <div class="color-bar yellow"></div>
            <div class="list-players"></div>
            <div class="name_arriba">PS</div>
            <div class="precio_arriba">373€</div>
          </div>
        </div>
      </div>
      <!-- *************** CASILLA "A JULIO" *************** -->
      <div class="space corner go-to-jail" id="30">
        <div class="container">
          <div class="list-players"></div>
          <div class="name">A JULIO</div>
          <i class="drawing fa fa-gavel"></i>
        </div>
      </div>
      <!-- *************** FILA DERECHA VERTICAL *************** -->
      <div class="row vertical-row right-row">
        <div class="space propiedad_fila_derecha" id="31">
          <div class="container">
            <div class="color-bar orange"></div>
            <div class="list-players"></div>
            <div class="name_derecha">ROB</div>
            <div class="precio_derecha">400€</div>
          </div>
        </div>
        <div class="space propiedad_fila_derecha" id="32">
          <div class="container">
            <div class="color-bar orange"></div>
            <div class="list-players"></div>
            <div class="name_derecha">STW</div>
            <div class="precio_derecha">400€</div>
          </div>
        </div>
        <div class="space community-chest" id="33">
          <div class="container">
            <div class="list-players"></div>
            <img src="../../../assets/images/community_chest.jpg" alt="pas ok">
          </div>
        </div>
        <div class="space propiedad_fila_derecha" id="34">
          <div class="container">
            <div class="color-bar orange"></div>
            <div class="list-players"></div>
            <div class="name_derecha">SEGUR</div>
            <div class="precio_derecha">427€</div>
          </div>
        </div>
        <div class="space railroad" id="35">
          <div class="container">
            <div class="name">FIN CARRERA</div>
            <div class="list-players"></div>
            <div class="logo_san_braulio">
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
              </svg>
            </div>
            <i class="drawing fa fa-subway"></i>
          </div>
        </div>
        <div class="space chance" id="36">
          <div class="container">
            <div class="list-players"></div>
              <img src="../../../assets/images/Chance.jpg" alt="pas ok">
          </div>
        </div>
        <div class="space propiedad_fila_derecha" id="37">
          <div class="container">
            <div class="color-bar red"></div>
            <div class="list-players"></div>
            <div class="name_derecha">PRACTS</div>
            <div class="precio_derecha">467€</div>
          </div>
        </div>
        <div class="space railroad" id="38">
          <div class="container">
            <div class="list-players"></div>
            <div class="name">SEGURO ESCOLAR</div>
          </div>
        </div>
        <div class="space propiedad_fila_derecha" id="39">
          <div class="container">
            <div class="color-bar red"></div>
            <div class="list-players"></div>
            <div class="name_derecha">TFG</div>
            <div class="precio_derecha">533€</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="dice-container">
    <div class="dices-values" *ngIf="dices.length > 0">
      <img class="dice" src="{{get_image_from_dice_value(dices[0])}}">
      <img class="dice" src="{{get_image_from_dice_value(dices[1])}}">
    </div>
    <button class="btn-roll-dice" id="tirar-dados" (click)="play()">Tirar dados</button>
  </div>-->

  <div class="panel-usuarios">
    <div class="id_partida">
      <h1 class="titulo_id_partida">PARTIDA #{{game_id}}</h1>
      <h3 class="titulo_id_partida">------------------------------------</h3>


      <div class="player-panel" data-ui="player0">

        <svg width="12" height="12" class="player-panel-token">
          <circle cx="6" cy="6" r="6" fill="red"></circle>
        </svg>
        <span class="player-name">{{player[0]}}</span>
        <span class="player-money" data-ui="1500" style="color: rgb(0, 0, 0);">{{player[1]}}€</span>

        <ng-container *ngIf="!is_bankrupt">
          <div class ="player-properties" *ngFor="let property of player_properties">
              <div class="player-property" data-ui="vt"  [style.background]="get_color_property(property[1])" (click)="createCardComponent(property[1].v, property[1].h, 'Quieres vender ?', false, 'sell', 0, false)">
                {{ property[0] }}
              </div>
          </div>
        </ng-container>

      </div>
      <ng-container *ngFor="let other_player of other_players_list; let i = index">
        <div class="player-panel" *ngIf="other_player[0] != player[0]">

          <svg width="12" height="12" class="player-panel-token">
            <circle cx="6" cy="6" r="6" [attr.fill]= "get_token_color_from_index(i + 1)"></circle>
          </svg>
          <span class="player-name">{{other_player[0]}}</span>
          <span class="player-money" data-ui="1400" style="color: rgb(0, 0, 0);">{{other_player[1]}}€</span>


          <div class ="player-properties" *ngFor="let property of other_player_properties[other_player[0]]">
              <div class="player-property" data-ui="vt" [style.background]="get_color_property(property[1])" (click)="createCardComponent(property[1].v, property[1].h, 'Carta de ' + other_player[0], false, 'view', 0, false)">
                {{ property[0] }}
              </div>
          </div>

        </div>
      </ng-container>
    </div>
  </div>
</div>
<div style="clear:both"></div>