<!--------------------CABECERA WEB-------------------->
<header id="header">
  <div class="texto_cabecera">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" onclick="window.history.back();" />
    <h4><a style="cursor: pointer;" style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
</header>
<br>
<!--------------------CREAR SALA-------------------->
<section class="services">
  <div class="icon-box iconbox-blue">
    <!--------------------mensaje para unirse a partida-------------------->
    <div class="titulo" style="text-align: center;">
      <h2>ÚNETE A UNA SALA</h2>
      <p>introduzca el número de la sala a la que desea unirse.</p>
    </div>
    <input type="number" class="dinero" placeholder="#ID PARTIDA" [(ngModel)]="idPartida"/>
    <button class="boton-jugar" (click)="uniseSalaDatos()">Unirse a la sala</button>   
  </div>
</section>
<br><br><br><br><br><br>
