 <!--------------------CABECERA WEB-------------------->
<header id="header">
  <div class="texto_cabecera">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" routerLink="/pantalla" />
    <h4><a style="cursor: pointer;" style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
</header>
<br>
<!--------------------CREAR SALA-------------------->
<div class="box">
  <div *ngIf="!errorPartidaLlena">
    <!--------------------mensaje para unirse a partida-------------------->
    <div class="titulo">
      <h2>ÚNETE A UNA SALA</h2>
      <p>introduzca el número de la sala a la que desea unirse.</p>
    </div>
    <!--------------------input para introducir id partida-------------------->
    <div class="input-partida"> 
      <input type="number" class="id_partida" placeholder="#ID PARTIDA" [(ngModel)]="idPartida" min="0" step="1"/>
    </div>
    <!--------------------botón para jugar partida-------------------->
    <button class="boton-jugar" (click)="unirseSalaDatosEsperar()">Unirse a la sala</button> 
  </div>  
  <div *ngIf="errorPartidaLlena" class="text-center">
    <div class="titulo">
      <h2>Ups, no puedes unirte a la partida.</h2>
      <p>La partida está completa</p>
    </div>
    <button class="boton_si" (click)="volverUnirseSala()">Unirte a otra partida</button>
  </div>
</div>

<br><br><br><br><br><br>
