.chance-card{
  border: 2px black solid;
  border-radius: 10px;
  max-width : 400px;
  max-height : 300px;
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-color: white;
}

.title-card{
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.info-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

img{
  display: block;
  max-width:120px;
  max-height:160px;
  margin-left: 30px;
  width: auto;
  height: auto;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.load-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.list-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-action{
  width: 100%;
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 10px;
  border-radius: 20px;
  padding: 10px;
  border: 0;
  cursor: pointer;
}

.pagar{
  background-color: lightskyblue;
}

.cobrar{
  background-color: #00ff00;
}

.nada{
  background-color: slategrey;
}

.timer{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1s ease-in-out infinite;
}