<div class="chance-card">
  <h3 class="title-card">
    ¿Quiere seguir jugando?
  </h3>
  <div class="info-container">
    <div class="info" *ngIf="is_timer_active">Tiempo restante para jugar : {{remaining_time}} segundos</div>
    <img src='../../../assets/images/perso_right.png'>
  </div>
  <div class="list-button" *ngIf="!is_loading">
    <button class="button-action cobrar" (click)="seguir_jugando()">Seguir jugando</button>
    <button class="button-action pagar" (click)="abandonar_partida()">Terminar de jugar</button>
  </div>
  <div class="list-button" *ngIf="is_loading">
    <app-loader></app-loader>
  </div>
</div>
