
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto_header{
    display: flex;
    justify-content: space-between;
}

.volver_boton,
.inicio_boton{
    height: 40px;
    cursor: pointer;
}

.imagen_logo_juego{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 150px;
}

.mensaje_bienvenida{
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #f6ee02;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}
    
.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

.material-icons{
  fill: black;
  width: 24px;
  height: 24px;
}

.icono-tienda, 
.icono-reglas {
  border: #222222;
  width: 24px;
  height: 24px;
}
/* --------------BOTÓN VOLVER PARTE SUPERIOR PANTALLA-------------- */
.btn-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff7b00;
    color: #fff;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
  
.btn-flotante i {
    line-height: 50px;
    text-align: center;
}
  
