<!--------------------CABECERA WEB-------------------->
<header id="header" class="fixed-top">
  <div class="texto_header">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" routerLink="/" />
    <h4><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
</header>

<!-- BOTÓN VOLVER A LA PARTE SUPERIOR DE LA PÁGINA -->
<button class="btn-flotante" (click)="volverArriba()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
  </svg>
</button>

<!--------------------BODY WEB-------------------->
<body>
  <!--------------------mensaje bienvenida-------------------->
  <div class="mensaje_bienvenida" role="main">
    <h2>¡BIENVENID@!</h2>
    <br>
  </div> 
  <div class="input-partida">
    <form [formGroup]="form_unirse_invitado" class="services">
      <input type="text" class="id_partida" placeholder="Nombre de jugador" formControlName="username" id="username" name="username" required/>
      <div *ngIf="form_unirse_invitado?.get('username')?.invalid && ((form_unirse_invitado?.get('username')?.dirty) || (form_unirse_invitado?.get('username')?.value === '' && (crearSalaClicked || unirseSalaClicked)))">
        <div *ngIf="form_unirse_invitado?.get('username')?.errors?.['required']" style="color: red;">Este campo es obligatorio</div>
      </div>
    </form>
    </div>
  <!--------------------opciones-------------------->
  <div class="card-container" role="main">
   
    

    <!--------------------opción unirse a una sala-------------------->
    <div class="linea">
      <a class="card" rel="noopener" (click)="crearSala()">
        <svg class="material-icons" viewBox="0 0 24 24"></svg>
        <span><h4><b>Crear una sala</b></h4></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-video2" viewBox="0 0 16 16">
          <path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          <path d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z"/>
        </svg>
        </a>
        <a class="card" rel="noopener" (click)="unirseSala()">
          <svg class="material-icons" viewBox="0 0 24 24"></svg>
          <span><h4><b>Unirse a una sala</b></h4></span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
            </svg>
        </a>
        <a class="card" rel="noopener" routerLink="/reglas">
          <svg class="material-icons" viewBox="0 0 24 24"></svg>
          <span><h4><b>Reglas</b></h4></span>
          <svg class="icono-reglas" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
          </svg>
        </a>

    <!--------------------opción reglas del juego-------------------->
  
     
    </div>
    
  </div>
  <br><br><br><br><br><br><br><br>
</body>