<div class="propriety-card">
  <img class="image-company" src="../../../assets/images/card/fiesta.png" alt="FIESTA IMAGEN" />
  <div class="fiesta-title">
    SAN ....
  </div>
  <div class="container-info">
      <div class="box-info">
        <div class="text-start rent-info">Alquiler</div>
        <div class="text-end price-info">10€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Si tienes 2 fiestas</div>
        <div class="text-end price-info">50€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Si tienes 3 fiestas</div>
        <div class="text-end price-info">100€</div>
      </div>
      <div class="box-info">
        <div class="text-start rent-info space">Si tienes 4 fiestas</div>
        <div class="text-end price-info">200€</div>
      </div>
      <div class="box-info hipoteca">
        <div class="text-start rent-info hipoteca">Hipoteca : 30€</div>
      </div>
  </div>
</div>
