<header id="header" class="fixed-top">
  <div style="display: flex; justify-content: space-between;">
    <img class="volver_boton" src="../../../assets/images/voler_boton.png" onclick="window.history.back();" />
    <h4><a style="color: #080808" routerLink="/">MONOPOLY VERSIÓN INFORMÁTICA</a></h4>
    <img class="inicio_boton" src="../../../assets/images/home_boton.png" routerLink="/">
  </div>
  <div style="text-align: center;">
    <h4><a style="color: #080808">AJUSTES USUARIO</a></h4>
  </div>
</header>

<body>
  
  <!--<h1>HOLA {{username}}</h1>-->
  <div class="user-container">
    <img src="../../../assets/images/user.png" class="user" routerLink="/datos_usuario">
  </div>

  <div class="saludo">
    <h2>
      ¡Hola, {{username}}!
      <svg xmlns="http://www.w3.org/2000/svg" class="bi-bi-pencil-square" routerLink="/cambiar_username">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
    </h2>
  </div>


  <div class="lista_jugadores" >
    <div class="datos_box">
      <b><h2>
        <svg xmlns="http://www.w3.org/2000/svg" class="bi-bi-file-earmark-fill">
        <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
        </svg>
        INFORMACIÓN:
      </h2></b>
    </div>
    <div class="datos_box">
      <p>Nombre de usuario: {{username}}</p>
    </div>
    <div class="datos_box">
      <p>Email: {{email}}</p>
    </div>



    <div class="datos_box">
      <b><h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-bi-file-earmark-bar-graph-fill" viewBox="0 0 16 16">
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm.5 10v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
        </svg>
        ESTADÍSTICAS:
      </h2></b>
    </div>
    <div class="datos_box">
      <p>Nombre de usuario: {{username}}</p>
    </div>
    <div class="datos_box">
      <p>Email: {{email}}</p>
    </div>
  </div>
 


  <div class="card-container" role="main">
    
    <!--<div>
      <a class="card" rel="noopener" routerLink="/cambiar_username">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
        <h4><b>Cambiar nombre de usuario</b></h4>
      </a>
    </div>-->


    <div>
      <a class="card" rel="noopener" routerLink="/cambiar_correo" (click)="leer_email()">
          <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
          <h4><b>Cambiar correo</b></h4>
      </a>
    </div>

    <div>
      <a class="card" rel="noopener" routerLink="/cambiar_contraseña">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
        <h4><b>Cambiar constraseña</b></h4>
      </a>
    </div>
    
    <div>
      <a class="card" rel="noopener" routerLink="/">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
        <h4><b>Cerrar Sesión</b></h4>
      </a>
    </div>

    <div>
      <a class="card" rel="noopener" routerLink="/delete_user">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>
        <h4><b>Eliminar Cuenta</b></h4>
      </a>
    </div>

  </div>
  <br><br><br>
  
</body>